<div class="sidebar py-2 border-r border-gray-400 h-screen">
  <h2 class="text-center border-b border-gray-400 py-1 text-2xl font-thin">
    Management
  </h2>
  <div class="sidebar-group border-b border-gray-400">
    <a
      [routerLink]="['/manager/roles']"
      class="block p-2 text-lg hover:bg-gray-500 hover:text-white"
      >Role Management
    </a>
  </div>
  <div class="sidebar-group border-b border-gray-400">
    <a
      [routerLink]="['/manager/users']"
      class="block p-2 text-lg hover:bg-gray-500 hover:text-white"
      >User Management
    </a>
  </div>
  <div class="sidebar-group border-b border-gray-400">
    <a
      [routerLink]="['/manager/movie']"
      class="block p-2 text-lg hover:bg-gray-500 hover:text-white"
      >Movie Management
    </a>
  </div>
  <div class="sidebar-group border-b border-gray-400">
    <a
      [routerLink]="['/manager/cinema']"
      class="block p-2 text-lg hover:bg-gray-500 hover:text-white"
      >Cinema Management
    </a>
  </div>
  <div class="sidebar-group border-b border-gray-400">
    <a
      [routerLink]="['/manager/promotion']"
      class="block p-2 text-lg hover:bg-gray-500 hover:text-white"
      >Promotion Management
    </a>
  </div>
</div>
