<table class="w-full bg-gray-500 text-white text-center border-collapse">
  <thead>
    <tr class="*:p-2 *:text-lg *:border *:border-slate-300">
      <th>No</th>
      <th *ngFor="let item of columns">{{ item.title }}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of data; let i = index"
      class="*:p-2 *:border *:font-medium *:border-slate-300"
    >
      <td>{{ i + 1 }}</td>
      <td *ngFor="let column of columns">{{ item[column.name] }}</td>
      <td>
        <div class="action flex justify-center gap-4">
          <button type="button" title="Edit" (click)="onEdit(item.id)">
            <fa-icon [icon]="faEdit" class="text-green-400 text-lg"></fa-icon>
          </button>
          <button type="button" title="Delete" (click)="onDelete(item.id)">
            <fa-icon [icon]="faDelete" class="text-red-600 text-lg"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
