<table class="w-full bg-gray-500 text-white text-center border-collapse">
  <thead>
    <tr class="*:p-2 *:text-lg *:border *:border-slate-300">
      <th>No</th>
      <th *ngFor="let item of columns">{{ item.title }}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of data; let i = index"
      class="*:p-2 *:border *:font-medium *:border-slate-300"
    >
      <td>{{ i + 1 }}</td>
      <td *ngFor="let column of columns">{{ item[column.name] }}</td>
      <td>
        <div class="action flex justify-center gap-4">
          <button type="button" title="Edit" (click)="onEdit(item.id)">
            <fa-icon [icon]="faEdit" class="text-green-400 text-lg"></fa-icon>
          </button>
          <button type="button" title="Delete" (click)="onDelete(item.id)">
            <fa-icon [icon]="faDelete" class="text-red-600 text-lg"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="paginated flex justify-between items-center">
  <div class="page-size flex items-center">
    <label for="size">Page Size:</label>
    <select
      id="size"
      class="border ml-1 p-1 cursor-pointer rounded-lg"
      (change)="onChangeSize($event)"
    >
      <option *ngFor="let item of pageSizes">{{ item }}</option>
    </select>
  </div>
  <div class="page-number">
    <ul class="flex gap-2">
      <li>
        <button
          title="Start"
          [ngClass]="{ 'pointer-events-none opacity-25': currentPage == 0 }"
          class="rounded-full border px-2 hover:bg-blue-500 hover:text-white"
          (click)="onChangeNumber(0)"
        >
          <fa-icon [icon]="faDoubleLeft"></fa-icon>
        </button>
      </li>
      <li>
        <button
          title="Minus"
          [ngClass]="{ 'pointer-events-none opacity-25': currentPage == 0 }"
          class="rounded-full border px-2 hover:bg-blue-500 hover:text-white"
          (click)="onChangeNumber(currentPage - 1)"
        >
          <fa-icon [icon]="faLeft"></fa-icon>
        </button>
      </li>
      <li *ngFor="let item of getPageList()">
        <button
          [ngClass]="{ 'bg-blue-500 text-white': currentPage == item }"
          class="rounded-full border px-2 hover:bg-blue-500 hover:text-white"
          (click)="onChangeNumber(item)"
        >
          {{ item + 1 }}
        </button>
      </li>
      <li>
        <button
          title="Plus"
          [ngClass]="{
            'pointer-events-none opacity-25':
              currentPage == pageInfo?.totalPages - 1
          }"
          class="rounded-full border px-2 hover:bg-blue-500 hover:text-white"
          (click)="onChangeNumber(currentPage + 1)"
        >
          <fa-icon [icon]="faRight"></fa-icon>
        </button>
      </li>
      <li>
        <button
          title="End"
          [ngClass]="{
            'pointer-events-none opacity-25':
              currentPage == pageInfo?.totalPages - 1
          }"
          class="rounded-full border px-2 hover:bg-blue-500 hover:text-white"
          (click)="onChangeNumber(pageInfo?.totalPages - 1)"
        >
          <fa-icon [icon]="faDoubleRight"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="page-info">
    <span>{{ pageInfo?.size * pageInfo?.number + 1 }} - </span>
    <span
      >{{
        (pageInfo?.number + 1) * pageInfo?.size > pageInfo?.totalElements
          ? pageInfo?.totalElements
          : (pageInfo?.number + 1) * pageInfo?.size
      }}
      of
    </span>
    <span>{{ pageInfo?.totalElements }}</span>
  </div>
</div>
