<div class="role-list">
  <div class="card p-3">
    <div class="card-header rounded-md bg-gray-500 text-white text-center">
      <h1 class="text-3xl font-medium p-1">User Management</h1>
    </div>
    <div class="card-body my-4">
      <div class="body-search mb-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group relative flex justify-between items-center">
            <input
              type="text"
              formControlName="keyword"
              class="w-full rounded-md border-2 border-slate-500 p-[6px]"
              placeholder="Search ..."
            />
            <button
              type="submit"
              title="Search"
              class="absolute top-[5%] right-3"
            >
              <fa-icon [icon]="faSearch" class="text-[24px]"></fa-icon>
            </button>
          </div>
        </form>
      </div>
      <div class="body-data">
        <p class="text-center text-xl text-green-500 my-2">{{ response }}</p>
        <app-table
          [data]="data"
          [columns]="columns"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        ></app-table>
      </div>
    </div>
    <div class="card-footer">
      <div class="paginated flex justify-between items-center">
        <div class="page-size flex items-center">
          <label for="size">Page Size:</label>
          <select
            id="size"
            class="border ml-1 p-1 cursor-pointer rounded-lg"
            (change)="onChangeSize($event)"
          >
            <option *ngFor="let item of pageSizes">{{ item }}</option>
          </select>
        </div>
        <div class="page-number">
          <ul class="flex gap-2">
            <li
              [ngClass]="{ 'bg-blue-500 text-white': currentPage == item }"
              class="rounded-full border px-2 hover:bg-blue-500 hover:text-white"
              *ngFor="let item of getPageList()"
            >
              <button (click)="onChangeNumber(item)">{{ item + 1 }}</button>
            </li>
          </ul>
        </div>
        <div class="page-info">
          <span>{{ pageInfo.size * pageInfo.number + 1 }} - </span>
          <span
            >{{
              (pageInfo.number + 1) * pageInfo.size > pageInfo.totalElements
                ? pageInfo.totalElements
                : (pageInfo.number + 1) * pageInfo.size
            }}
            of
          </span>
          <span>{{ pageInfo.totalElements }}</span>
        </div>
      </div>
      <div class="button flex justify-end">
        <button
          type="button"
          class="flex gap-1 p-2 rounded-lg text-white bg-blue-500"
          (click)="onCreate()"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>Add</span>
        </button>
      </div>
    </div>
  </div>

  <div class="role-detail">
    <ng-container *ngIf="isShow">
      <app-user-details
        [isEdit]="isEdit"
        [dataEdit]="dataEdit"
        (cancel)="onCancelDetail()"
      ></app-user-details>
    </ng-container>
  </div>
</div>
